body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100%;

    #teacher-slider {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 100vw 100vw;
        transition: transform 0.5s ease-in-out;

        .teacher {
            max-width: 100%;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 25dvh 3rem auto 3rem ;
            justify-content: center;
            justify-items: center;
            align-items: baseline;

            h1 {
                font-size: 3rem;
                margin: 0;
                background-color: var(--black);
                color: var(--white);
                padding: 1rem;
                border-radius: 100px;
                text-align: center;
                z-index: 2;
                transform: translateY(-2rem);
            }

            .blurbs {
                display: flex;
                flex-direction: row;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr;
                width: 90%;
                background-color: var(--white);
                border-radius: 1rem;
                border: solid var(--black) 5px;
                transform: translateY(-2rem);
            }

            &#mrs-k {
                .blurbs {
                    background-image: url("../assets/tie-dye-2.png");
                    background-size: cover;
                    background-position: center center;
                }
            }

            &#mrs-jamie {
                .blurbs {
                    background-image: url("../assets/sunflowers.png");
                    background-repeat: repeat;
                    background-size: 15rem;
                }
            }

            .blurb {
                margin: 2rem 1rem;
                padding: 1rem;
                font-size: 2rem;
                color: var(--black);
                font-weight: bold;
                font-family: "vividly", sans-serif;
                width: 33%;
                background-color: var(--white);
                border: solid var(--black) 5px;
                border-radius: 1rem;
                height: 40vh;

                article,
                ul {
                    font-size: 1.25rem;
                    text-align: left;
                    margin: 0;
                    overflow-y: auto;
                    max-height: 90%;

                    img {
                        width: 50%;
                        height: auto;
                        float: right;
                        margin: 1rem;
                    }
                }
            }
        }
    }

    #switch-teacher-button {
        // transform: translateY(-3rem);
    }
}

.imageContainer {
    width: 30dvh;
    height: 30dvh;
    overflow: hidden;
    border-radius: 50%;
    border: solid var(--black) 5px;
    transition:
        border-radius 0.3s ease,
        transform 0.3s ease;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(2);
        transition: transform 0.3s ease;
        transform-origin: 40% 40%;
    }

    &.expanded {
        border-radius: 0;
        transform: translateY(12rem) scale(2);
        z-index: 3;
        img {
            transform: scale(1);
        }
    }
}
