body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100%;
}
body #teacher-slider {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 100vw 100vw;
  transition: transform 0.5s ease-in-out;
}
body #teacher-slider .teacher {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25dvh 1.5rem 1.5rem 55dvh 3rem;
  justify-content: center;
  justify-items: center;
  align-items: baseline;
}
body #teacher-slider .teacher h1 {
  grid-row: 2/4;
  grid-column: 1;
  font-size: 3rem;
  margin: 0;
  background-color: var(--black);
  color: var(--white);
  padding: 1rem;
  border-radius: 100px;
  text-align: center;
  z-index: 2;
}
body #teacher-slider .teacher .blurbs {
  grid-column: 1;
  grid-row: 3/5;
  display: flex;
  flex-direction: row;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  width: 90%;
  background-color: var(--white);
  border-radius: 1rem;
  border: solid var(--black) 5px;
  height: 55dvh;
}
body #teacher-slider .teacher#mrs-k .blurbs {
  background-image: url("../assets/tie-dye-2.png");
  background-size: cover;
  background-position: center center;
}
body #teacher-slider .teacher#mrs-k #switch-teacher-button > img {
  margin-left: 1rem;
  transform: rotate(180deg);
}
body #teacher-slider .teacher#mrs-jamie .blurbs {
  background-image: url("../assets/sunflowers.png");
  background-repeat: repeat;
  background-size: 15rem;
}
body #teacher-slider .teacher#mrs-jamie #switch-teacher-button > img {
  margin-right: 1rem;
}
body #teacher-slider .teacher .blurb {
  margin: 3rem 1rem;
  padding: 1rem;
  color: var(--black);
  font-weight: bold;
  font-family: "vividly", sans-serif;
  width: 33%;
  background-color: var(--white);
  border: solid var(--black) 5px;
  border-radius: 1rem;
}
body #teacher-slider .teacher .blurb article,
body #teacher-slider .teacher .blurb ul {
  font-size: 1.75rem;
  text-align: left;
  margin: 0;
  overflow-y: auto;
  max-height: 90%;
}
body #teacher-slider .teacher .blurb article img,
body #teacher-slider .teacher .blurb ul img {
  width: 50%;
  height: auto;
  float: right;
  margin: 1rem;
}
body #teacher-slider .teacher #switch-teacher-button {
  grid-column: 1;
  grid-row: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}
body #teacher-slider .teacher #switch-teacher-button img {
  height: 3rem;
  width: auto;
  margin: 0;
}

.imageContainer {
  grid-column: 1;
  grid-row: 1/3;
  width: 30dvh;
  height: 30dvh;
  height: calc(25dvh + 3rem);
  overflow: hidden;
  border-radius: 50%;
  border: solid var(--black) 5px;
  transition: border-radius 0.3s ease, transform 0.3s ease;
}
.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(2);
  transition: transform 0.3s ease;
  transform-origin: 40% 40%;
}
.imageContainer.expanded {
  border-radius: 0;
  transform: translateY(12rem) scale(2);
  z-index: 3;
}
.imageContainer.expanded img {
  transform: scale(1);
}

@media only screen and (max-width: 600px) {
  body {
    overflow: auto;
    padding: 0;
    padding-top: 1rem;
  }
  body #teacher-slider > .teacher {
    margin: 1rem;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50dvw 1.5rem 1.5rem auto 3rem;
    justify-content: center;
    justify-items: center;
    align-items: baseline;
  }
  body #teacher-slider > .teacher .blurbs {
    flex-direction: column;
    height: auto;
    width: auto;
    padding-top: 2rem;
  }
  body #teacher-slider > .teacher .blurbs .blurb {
    width: auto;
    margin: 1rem;
  }
  body #teacher-slider > .teacher .blurbs .blurb ul,
body #teacher-slider > .teacher .blurbs .blurb article {
    width: auto;
    height: auto;
    font-size: 1rem;
  }
  body #teacher-slider > .teacher #switch-teacher-button {
    margin: 2rem 0;
  }
  body .imageContainer {
    grid-column: 1;
    grid-row: 1/3;
    width: calc(50dvw + 3rem);
    height: calc(50dvw + 3rem);
    overflow: hidden;
    border-radius: 50%;
    border: solid var(--black) 5px;
    transition: border-radius 0.3s ease, transform 0.3s ease;
  }
}

/*# sourceMappingURL=teachers.css.map */
