#gallery-page {
    background-color: var(--white);
    .header {
        padding: 2rem;
        text-align: center;
    }
    .react-photo-album {
        padding: 2rem;
        background-color: var(--yellow);
    }
}
