#root {
    &:has(#terms-of-use) {
        padding: 1rem;

        h1 {
            font-size: 2rem;
        }
        h2 {
            font-size: 2rem;
        }
        p {
            font-size: 1.5rem;
        }
    }
}
